

html{
    font-size: larger;
}

body{
    background: black; 
    color: white;
}

main {
    margin: 2%;
}

header { 
    width:100%;
    display: flex;
    margin-left: 2%; 
    margin-right: 2%;
    border-bottom: 1px solid white;
    
    position: fixed;
    background-color: black;

    position: fixed;
    top: 0;
    left: 0;
    padding: 15px;
    
}

header div { 
    flex: 1 
}   

a {
    color: white;
    text-decoration: solid;
}

#div1 {
    text-align:right; 
    margin-top: 23px; 
    margin-right: 40px;
    font-family: monospace;
    font-size:larger;
    
}  

img {
    max-width:100%; 
    height:auto;
    padding-top: 13%;
}

#div2 {
    margin-top: 70px;
    
    font-family:Impact, Haettenschweiler, sans-serif ;
}

#div3 {
    margin-top: 70px;
    font-family:Impact, Haettenschweiler, sans-serif ;
}

#div2 > p{
    font-family: monospace;
}

#div3a, #div3b {
    display: flex;
    margin: 2%;
}

#div3a div {
    border : 1px solid white;
    border-radius: 20px;
    padding:10px;
    margin:2%;
    flex:1;
}

#div3a > div > p {
    font-family: monospace;
    text-align: center;
}

#div3b div {
    border : 1px solid white;
    border-radius: 20px;
    padding:10px;
    margin:2%;
    flex:1;
}

#div3b > div > p {
    font-family: monospace;
    text-align: center;
}

/* FOOTER CSS */
#divf1{
    display: flex;        
    background-color: rgb(16, 16, 16);
    border-top:1px solid white ;
    padding:7px;
    border-radius: 20px;
}

#divf1 > div {
    flex:1;
}
#divf1 > #logo {
    padding-left: 9%;
    padding-top: 2%;
}

#divf1 > #address {
    text-align: right;
    padding-right: 30px;
}


